{% extends 'base.html.twig' %}
{% block body %}
{% for products in preces %}

<div class="col-sm-4"><h3>{{products.name}}</h3>
						<img src="{{ asset(products.imagepath) }}" alt="{{products.name}}" />
                	<p>Ražotājs:{{products.producer}}
                	<p>Cena:{{products.price}}
	  				<p>{{products.description}}</p>
	  				<a href="/woch/grozs/{{products.id}}" class="btn btn-success">Pirkt</a>
	  					
	  			</div>
{% if products.id % 3 == 0 %}
    <div class="row"></div>
{% endif %}

{% endfor %}







<div>
<table class="table table-striped">
<thead>
<tr>
  <th>Vārds</th>
  <th>Ražotājs</th>
  <th>Apraksts</th>
  <th>Cena</th>
  <th>Daudzums</th>
  <th>Bildes ceļš</th>
  <th></th>
  </tr>
</thead>
<tbody>
{% for products in preces%}
<tr>
  <td>{{products.name}}</td>
  <td>{{products.producer}}</td>
  <td>{{products.description}}</td>
  <td>{{products.price}}</td>
  <td>{{products.quantity}}</td>
  <td>{{products.imagepath}}</td>
  <td><a class = "btn btn-danger" href="/woch/dzestpreci/{{products.id}}">Dzēst</a>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}